/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 
   first, reset everything.

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	line-height: 1.2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* 
structure
*/

/* blockify things that the browsers aren't aware of. */

header, footer, nav, article {
	display:block;
}

body { 
	background-image: url("../images/background.jpg");
    background-repeat: no-repeat-none;
}

/* 
structure: header
*/

header#nuke-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 825px;
}

header#nuke-header img#logo {
	float: left;
}	

div#header-nav-forcefield {
	width: 625px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}

nav#primary-nav {
	width: 500px;
	height: 25px;
	background-color: #000;
	float: left;

}

nav#utility-nav {
	width: 125px;
	height: 25px;
	background-color: #CF0700;
	float: right;
}

div#main-forcefield {
	background-color: #FFF;
	border: 2px solid #CCC;
	width: 825px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

nav#primary-nav li, nav#utility-nav li {
	display: inline-block;
	border: 0px;
	padding: .5em;

}

header#nuke-header div#header-logo {
	width: 348px;
	height: 90px;
	float: left;
}

header#nuke-header div#header-quote {
	width: 225px;
	height: 90px;
	padding-top: 10px;
	margin-left: 358px;
}

header#nuke-header div#header-connect {
	margin-top: 20px;
	width: 200px;
	float: right;
}

/* 
structure: body
*/

div#body-content {

}


div.block {
	width: 190px;
	border: 1px solid #666;
	margin-bottom: 10px;
}

div.block ul {
	padding: 5px;
}

div#body-content article {
	margin-left: 10px;
	margin-right: 10px;
	width: 600px;
	float: left;
}

div#body-content div#sidebar {
	margin-left: 620px;
	width: 190px;
}

/* structure: articles */

#article-byline {
	width: 100%;
}

#article-byline-writer {
	float: left;
	margin-right: 5px;
}

#article-byline-social {
	margin-left: 220px;
	width: 300px;
}

#article-content {

}

#article-aside {
	width: 250px;
	margin-top: 15px;
	margin-left: 15px;
	float: right;
}

#article-ad {
	margin-top: 15px;
	width: 250px;
	height: 250px;
	background-color: #666;
}

.article-image {

}

figure.article-image figcaption{
	background-color: #666;
	padding: 5px;
}


/* article: category */

#category-byline {
	width: 100%;
	margin-bottom: 1em;
}

#category-aside {
	width: 250px;
	margin-top: 15px;
	margin-left: 15px;
	float: right;
}

#category-ad {
	margin-top: 15px;
	width: 250px;
	height: 250px;
	background-color: #666;
}

div#category .article-brief {
	width: 550px;
}

div#category .article-brief .article-body h2 {

}

div#category .article-brief .article-brief-image {
	float: left;
	width: 125px;
}


/* 
footer
*/

footer#article-footer {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	width: 600px;
	padding: 8px;
	border-radius: 5px;	
	background-color: #CCC;

}

nav#footer {
	text-align: center;
	margin-bottom: 10px;
	padding: 5px;
}


/* 
home page specific rules
*/

div#body-content div#top-fold div#feature {
	background-color: #E9E9E9;
	width: 570px;
	margin-left: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	min-height: 320px;
	float: left;
}

div#feature figure {
	width: 300px;
	float: left;
}

div#feature figure figcaption {
	background-color: #666;
	width: 290px;
	padding: 5px; 
	min-height: 25px;
}

div#feature-block {
	width: 255px;
	margin-left: 310px;
}

div#feature-body {
	margin-top: 10px;
}

div#feature-more {
	margin-top: 1.5em
	margin-bottom: 1.5em
}

div#side-feature {
	margin-left: 620px;
	width: 200px;
	
}

div#side-feature .side-feature-block {
	min-height: 100px;
	margin-bottom: 10px;
}

div#side-feature figure { 
	float: left;
	width: 100px;
	margin-right: 5px; 
}

#bottom-fold {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#bottom-left {
	width: 455px;
	padding: 10px;
	float: left;
}

#bottom-right {
	width: 320px;
	margin-left: 500px;
}


div.clear {
	clear:both;
	height: 0;
}

div.microcontent {
	background-color: #FFCCCC;
	-moz-border-radius: 5px;
	padding: 5px;
	border-radius: 5px;	
	width: 100%;
	margin-bottom: 10px;
	line-height: 1.2em;
}

div#bottom-comments {
	width:145px;
	float: left;
	margin-top: 10px;
	border: 1px solid #666;
}

div#bottom-popular-stories {
	margin-left: 155px;
	width: 145px;
	margin-top: 10px;
	border: 1px solid #666;
}

div#bottom-comments ul, div#bottom-popular-stories ul {
	padding-left: 5px;
	padding-right: 5px;
}

div#bottom-comments ul li, div#bottom-popular-stories ul li {
 	margin-bottom: 10px;
}

div#bottom-comments h1, div#bottom-popular-stories h1 {
	margin-bottom: 5px;
}


/* 
ads 
*/

div.ad-block {
	border: 1px solid gray;
	background-color: gray;
	width: 300px;
	height: 250px;
}

div.ad-bottom {
	border: 1px solid gray;
	background-color: gray;
	width: 725px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* 
text
*/
body {
	font-family: "Arial", sans-serif;
}

nav#primary-nav, nav#utility-nav  {
	font-size: smaller;
	text-transform: uppercase;
	text-align: center;
	
}

nav#primary-nav a, nav#utility-nav a {
	color: white;
	text-decoration: none;
}

header#nuke-header div#header-quote {
	font-size: smaller;
}


h1 {
	color: #000;
}

h1 a {
	color: #CF0700;
	text-decoration: none;
}

a {
	color: #CF0700;

}

div#feature h1 {
 	font-size: 170%;
}

div.side-feature-block h1 {
 	font-size: 120%;
}


em {
	font-style: italic;
}

header#nuke-header div#header-quote {
	line-height: 1.2em;

}

.byline {
	font-size: 70%;
	margin-top: .5em;
	margin-bottom: .5em;
	line-height: 1.3em;
	text-transform: lowercase;
}

div#feature-more {
	font-size: 80%;
}

#bottom-fold h1 {
	font-size: 110%;
}

figcaption {
	color: #FFF;
	font-size: 80%;
}

#bottom-fold h1 {
	font-size: 130%;
}


div.microcontent {
	font-size: 80%;
}

div#bottom-comments, div#bottom-popular-stories {
	font-size: 80%;
}

nav#footer {
	font-size: 80%;
}

#bottom-right h1 {
	text-transform: lowercase;
	background-color: #666;
	color: #FFF;
	padding: 3px;
}

/* 
presentation: category
*/



/* 
presentation: article
*/

article h1 {
	font-size: 180%;
	color: #333;
	margin-bottom: .5em;
}

article h2 {
	font-size: 160%;
	color: #66;
	margin-bottom: .5em;
}

article h3 {
	font-size: 140%;
	color: #666;
	margin-bottom: .5em;

}

article h4 {
	font-size: 120%;
	color: #666;
	font-style: italic;
	margin-bottom: .5em;

}


div.block h1 {
	font-size: 100%;
	background-color: #666;
	text-transform: lowercase;
	color: #FFF;
	padding: 3px;
}

div.block ul {
	font-size: 80%;
	font-weight: bold;
}

div.block ul li {
	font-size: 100%;
	padding-top: .3em;
	padding-bottom: .3em;
	line-height: 1.2em;
}


div.block ul li ul {
	font-weight: normal;
	font-size: 90%;
}

div.block ul li ul li {
	list-style-type: circle;
	padding-left: 0;
	margin-left: 15px;
	line-height: 1.2em;
}

div.block ul li ul li ul {
	font-size: 100%;
}

div.block ul li ul li ul li {
	font-size: 100%;
	line-height: 1.2em;
}


div.block div.block-date {
	font-size: 80%;
	font-weight: normal;
	text-transform: lowercase;

}

div#header-connect {
}

nav#header-connect-nav {
	margin-left: 15px;
}



#body-content p {
	font-size: 90%;
	line-height: 1.3em;
	text-indent: 1em;
}

div#article-byline {
	font-size: 90%;
	font-weight: bold;	
}

footer#article-footer {
	font-size: 80%;
}

/* presentation: categories */

div#category div.article-brief h2 {
	font-size: 120%;
}

