/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 
   first, reset everything.

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
presentation
*/

/* blockify things that the browsers aren't aware of. */

header, footer, nav, article {
	display:block;
}

body { 
	background-image: url("../images/background.jpg");
    background-repeat: no-repeat-none;
}

header#nuke-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border: 2px solid purple;

}

header#nuke-header img#logo {
	float: left;
}	

div#header-nav-forcefield {
	width: 675px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}

nav#primary-nav {
	width: 550px;
	height: 25px;
	background-color: black;
	float: left;

}

nav#utility-nav {
	width: 125px;
	height: 25px;
	background-color: red;
	float: right;
}

div#main-forcefield {
	background-color: #FFF;
	border: 2px solid #CCC;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}


nav#primary-nav li, nav#utility-nav li {
	display: inline-block;
	border: 0px;
	padding: .5em;

}

header#nuke-header div#header-logo {
	width: 348px;
	height: 90px;
	border: 1px solid yellow;
	float: left;
}

header#nuke-header div#header-quote {
	width: 225px;
	height: 90px;
	margin-left: 358px;
	border: 1px solid red;

}

header#nuke-header div#header-connect {
	width: 150px;
	float: right;
	border: 1px solid blue;
}


/* 
text
*/
body {
	font-family: "Arial", sans-serif;
}

nav#primary-nav, nav#utility-nav  {
	font-size: smaller;
	text-transform: uppercase;
	text-align: center;
	
}

nav#primary-nav a, nav#utility-nav a {
	color: white;
	text-decoration: none;
}

header#nuke-header div#header-quote {
	font-size: smaller;
}


h1 {
	color:red;
}





