/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 
   first, reset everything.

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	line-height: 1.2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* 
presentation
*/

/* blockify things that the browsers aren't aware of. */

header, footer, nav, article {
	display:block;
}

body { 
	background-image: url("../images/background.jpg");
    background-repeat: no-repeat-none;
}

header#nuke-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 825px;
}

header#nuke-header img#logo {
	float: left;
}	

div#header-nav-forcefield {
	width: 625px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
}

nav#primary-nav {
	width: 500px;
	height: 25px;
	background-color: #000;
	float: left;

}

nav#utility-nav {
	width: 125px;
	height: 25px;
	background-color: #CF0700;
	float: right;
}

div#main-forcefield {
	background-color: #FFF;
	border: 2px solid #CCC;
	width: 825px;
	margin-left: auto;
	margin-right: auto;
}

nav#primary-nav li, nav#utility-nav li {
	display: inline-block;
	border: 0px;
	padding: .5em;

}

header#nuke-header div#header-logo {
	width: 348px;
	height: 90px;
	float: left;
}

header#nuke-header div#header-quote {
	width: 225px;
	height: 90px;
	padding-top: 10px;
	margin-left: 358px;
}

header#nuke-header div#header-connect {
	width: 150px;
	float: right;
}


div#body-content {
	min-height: 500px;
}

div#body-content div#top-fold div#feature {
	/* background-color: #E9E9E9; */
	background-color: #E9E9E9;
	width: 570px;
	margin-left: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	min-height: 320px;
	float: left;
}

div#feature figure {
	width: 300px;
	float: left;
}

div#feature figure figcaption {
	background-color: #666;
	width: 290px;
	padding: 5px; 
	min-height: 25px;
}

div#feature-block {
	width: 255px;
	margin-left: 310px;
}

div#feature-body {
	margin-top: 10px;
}

div#feature-more {
	margin-top: 1.5em
	margin-bottom: 1.5em
}

div#side-feature {
	margin-left: 620px;
	width: 200px;
	
}

div#side-feature .side-feature-block {
	min-height: 100px;
	margin-bottom: 10px;
}

div#side-feature figure { 
	float: left;
	width: 100px;
	margin-right: 5px; 
}

#bottom-fold {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

/* 
text
*/
body {
	font-family: "Arial", sans-serif;
}

nav#primary-nav, nav#utility-nav  {
	font-size: smaller;
	text-transform: uppercase;
	text-align: center;
	
}

nav#primary-nav a, nav#utility-nav a {
	color: white;
	text-decoration: none;
}

header#nuke-header div#header-quote {
	font-size: smaller;
}


h1 {
	color: #000;
}

h1 a {
	color: #CF0700;
	text-decoration: none;
}

a {
	color: #CF0700;

}

div#feature h1 {
 	font-size: 170%;
}

div.side-feature-block h1 {
 	font-size: 120%;
}


em {
	font-style: italic;
}

header#nuke-header div#header-quote {
	line-height: 1.2em;

}

.byline {
	font-size: 70%;
	margin-top: .5em;
	margin-bottom: .5em;
	line-height: 1.3em;
	text-transform: lowercase;
}

div#feature-more {
	font-size: 80%;
}


div#feature figure figcaption {
	color: #FFF;
	font-size: 80%;
}

#article-feed h1 {
	font-size: 120%;
	line-height: 200%;
}

p {
	font-size: 80%;
}



